:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary : #001301;
  --button-primary : #003913;
  --button-secondary : #DFE3DD;

  /* test golor */
  --Log-Cabin  : #1E281A ;
  --Gray-Nurse : #DFE3DD ;
  --Battleship-Gray : #859977 ;
  --Gunsmoke : #7D8C8C ;

}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Tajawal', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px
}

p {
  font-size: 24px
  
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px
  }
  p {
    font-size: 16px
  }
}