.first_section {
  position: relative;
  direction: rtl;
  background-color: var(--Gray-Nurse);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  /* Styles for screens wider than 768px */
  .first_section {
    height: 300px;
  }
}

.first_paragraph {
  position: absolute;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  background-color: var(--Log-Cabin);
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  top: calc(-30%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media screen and (max-width: 1000px) {
  /* Styles for screens wider than 768px */
  .first_paragraph {
    width: 80%;
    font-size: 16px ;
  }
}

.first_paragraph.visible {
  opacity: 1;
  transform: translateY(0);
}
